version: "3.5"

services:

  kafka-bus:
    image: spotify/kafka
    ports:
      - 2181:2181
      - 9092:9092
    environment:
       - ADVERTISED_HOST=localhost
       - ADVERTISED_PORT=9092

  catalogue:
    build: ./catalogue
    container_name: catalogue
    ports:
      - 8080:8080
    depends_on:
      - postgresql-catalogue

  postgresql-catalogue:
    build: ./catalogue/src/main/resource/postgresql-catalogue/
    container_name: postgresql-catalogue
    ports:
      - 5432:5432

  validation:
    build: ./validation
    container_name: validation
    ports:
      - 8081:8080

  deliveries:
    build: ./deliveries
    container_name: deliveries
    ports:
      - 8082:8080
    depends_on:
      - postgresql-deliveries

  postgresql-deliveries:
    build: ./deliveries/src/main/resource/postgresql-deliveries
    container_name: postgresql-deliveries
    ports:
      - 5433:5432

  orders:
    build: ./orders
    container_name: orders
    ports:
      - 8083:8080
    depends_on:
      - postgresql-orders

  postgresql-orders:
    build: ./orders/src/main/resource/postgresql-orders
    container_name: postgresql-orders
    ports:
    - 5434:5432

